.main-body {
  color: #fff;
}

.booking-details {
  display: flex;
  padding: 2rem 4rem;
}

.the-base {
  font-size: 3rem;
  font-weight: bold;
}

.arrows {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}
.corresponding-planet {
  font-size: 1.8rem;
  padding-left: 1rem;
}

.booking-subtitle {
  margin-left: 4rem;
  color: #c4c4c4cc;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.booking-attractions {
  color: #fff;
  display: flex;
  padding: 4rem;
}

.booking-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.booking-carousel::-webkit-scrollbar {
  height: 2px;
}
.booking-carousel-img {
  height: 40rem;
  width: 24rem;
  margin-right: 3rem;
  border-radius: 16px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.image-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40rem;
  width: 24rem;
  margin: 2rem 0;
}

.image-overlay-text {
  color: #fff;
  height: 100%;
  width: 24rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 64.12%,
    rgba(0, 0, 0, 0.7) 100%
  );
  transition: 0.2s ease-in-out all;
}

.image-overlay-text h3 {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.image-overlay-text p {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.time {
  margin: 1rem;
}

.time span {
  font-size: 1.4rem;
}

.time svg {
  padding: 0 1rem;
}

.journey-time span {
  position: absolute;
  font-size: 12px;
  transform: translateX(1.4rem);
}

.cost {
  padding: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  padding-bottom: 2.4rem;
}

.image-overlay-text {
  opacity: 1;
}

.book-form {
  flex: 1;
  padding: 2rem 0;
  margin-right: 4rem;
}

.input-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

label {
  font-size: 1.2rem;
  line-height: 20px;
  letter-spacing: 0.11em;

  color: #ffffff;
  padding-bottom: 1rem;
}

input {
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  height: 2.4rem;
  color: white;
  padding: 0 1rem;
  border-radius: 8px;
}

input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

.checkbox {
  flex-direction: row;
  align-items: center;
}

.checkbox label {
  padding: 0 1rem;
}
